node_modules/
public/hot
public/storage
public/modules
public/mix-manifest.json
public/mix.js.map
/storage/*.key
/vendor
.vscode/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
database/migrations/*.php
composer.lock
/public/*.hot-update.json
/public/sitemap.xml
/public/sitemap_*.xml
/public/uploads
/public/uploads/*
/public/site
/public/site/*
/public/admin
/public/admin/*
/public/modules
/public/modules/*
/.idea
.phpstorm.meta.php
_ide_helper.php
*.zip
*.rar
error.log
error_log
access.log
access_log
